<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="dashboard">
      <header class="header">
        <a href="/dashboard">Back</a>
        <h1>TEACHER DASHBOARD</h1>
        <button>Profile</button>
      </header>
      <aside class="aside">
        <h2>New Homework</h2>
        <div class="aside--content">
          <% courses.forEach(course => { %>
          <div class="course">
            <a href="courses/<%=course._id%>/newHomework"><%=course.title %></a>
          </div>
          <% })%>
        </div>
      </aside>
      <main class="main">
        <div class="main--top">
          <!-- INSERT COURSE TITLE -->
          <h3>Course Title</h3>
        </div>
        <div class="main--content">
          <% students.forEach(student => { %>
          <div class="main__content--element">
            <div class="students">
              <a href="/user/<%=student._id%>"><%=student.username %></a>
            </div>

            <% })%>
          </div>
        </div>
      </main>
      <a href="/auth/logout">Logout</a>
    </div>
  </body>
</html>
