<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" />

    <script
      src="https://kit.fontawesome.com/9bf5837a99.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %> <% } %>

    <div class="app">
      <h1>TESTING</h1>
      <h2>testing LOGIN</h2>
      <form action="/auth/login" method="POST" class="form">
        <input type="email" name="email" placeholder="user email" />
        <input type="password" name="password" placeholder="password" />
        <div>
          <input class="btn" type="submit" value="Login" />
          <a class="btn" href="/signup">Signup</a>
        </div>
      </form>
      <div class="btn btn--google">
        <i class="fa-brands fa-google"></i
        ><a href="/auth/google">Login with google</a>
      </div>
    </div>
  </body>
</html>
