<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" />

    <script
      src="https://kit.fontawesome.com/9bf5837a99.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="app">
      <a href="/">
        <i class="back-arrow fa-solid fa-arrow-left"></i>
      </a>
      <h1>TESTING</h1>
      <h2>testing SIGNUP</h2>
      <form class="form" action="/auth/signup" method="POST">
        <input
          type="text"
          placeholder="username"
          id="username"
          name="userName"
        />
        <input type="email" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <input
          type="password"
          name="confirmPassword"
          placeholder="confirm password"
        />
        <input type="text" placeholder="teacher code" />
        <input class="btn" type="submit" value="Signup" />
      </form>
    </div>
  </body>
</html>
